/*#book {
	background-color: darkblue;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

h1 {
	/*border: 5px solid blue;
	dotted
	dashed
	double
	text-transform: uppercase;
	text-align: center;
	color: white;
}

#img {
	text-align: center;
}

h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}*/
*{
	margin: 0;
	padding: 0;
}
body {
	background-color: darkblue;
}
.boots {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 20px;
	width: 60%;
	height: 650px;
	max-width: 700px;
}
.title {
	font-size: 30px;
	color: blue;
}

img {
	width: 400px;
	height:300px;
}

.link, .text-lorem{
	display: inline-block;
}
.link{
	width: 60%;
}
.text-lorem{
	width: 30%;
}

.ul {
	list-style: none;
	display: inline-block;
	padding: 5px;
	margin: 1px;
	border: solid blue 3px;
}
#li {

		display: inline;
}

.royxat {
	font-size: 25px;
	color: blue;
}
.dir{
	padding: 10px;
}
.button {
	width: 200px;
	height: 50px;
	background-color: blue;
	color: white;
	border-radius: 20px;
}

